html {
  width: 100%;
  background: $white;
}

//Top half landing page

#top-half {
  @include span-columns(12);
      .ri img{
        position: relative;
        left: 0px;
        top: 0px;
        width: 30vw;
        height: 45vh;
        margin: 25vh 0 0 34vw;
        z-index: 0;
        border: thick solid $color-border-light;
      }
      .ri h1 {
        position: absolute;
        display: block;
        z-index: 1;
        margin: 0 0 0 42vw;
        font-family: "anu";
      }
}

//Lower half landing page, middle section

#mid-section {
    @include span-columns(12);
    position: relative;
    margin: 0 0 8vh 0;
    background-color: $white;
    height: 50vh;
    width: 100%;
    z-index: 0;
  }

  #mid-left {
      @include span-columns(6);
      position: absolute;
      margin: 2vh 50vw 0 0;
      padding: 5vw;
          h4{
            position: absolute;
            display: block;
            width: 20vw;
            font-family: $primary-font;
            color: $dark-grey;
            font-size: 1.5em;
            text-align: center;
            font-family: $primary-font;
          }
      }


  #m-l-comments {
      position: absolute;
      margin: 50vh 0 0 20vw;
  }

  #mid-right {
      @include span-columns(6);
      position: absolute;
         img  {
            position: absolute;
            margin: 15vh 0 0 54vw;
            border: thick solid $color-border-light;
         }
      }

//Lower half landing page, bottom-section

#bottom-section {
      @include span-columns(12);
      position: relative;
      margin: 0vh 0vh -6vh 0vh;
      background-color: $white;
      height: 50vh;
      width: 100%;
      z-index: 0;
     }

#bottom-left {
      @include span-columns(6);
      position: absolute;
      margin: 6vh 0vw 4vh 0vw;
      padding: 2vw;
        img  {
         position: absolute;
         margin: 10vh 0 0 0;
         border: thick solid $color-border-light;
        }
      }

#bottom-right {
    @include span-columns(6);
    position: absolute;
    margin: 6vh 0vw 0 52vw;
    padding: 5vw;
      h4{
        position: absolute;
        display: block;
        width: 20vw;
        font-family: $primary-font;
        color: $dark-grey;
        font-size: 1.5em;
        text-align: center;
        font-family: $primary-font;
      }
    }

#b-r-comments {
  position: absolute;
  margin: 54vh 0vw 0 73vw;
}
