footer {
  @include span-columns(12);
  position: absolute;
  z-index: 3;
  height: 10vh;
  width: 100vw;
  margin: 208vh auto 0 auto;
  color: $dark-grey;
  background-color: $med-red;
  background: -webkit-linear-gradient($color-button-gradient);
  background: -moz-linear-gradient($color-button-gradient);
  background: -o-linear-gradient($color-button-gradient);
  background: -ms-linear-gradient($color-button-gradient);
  background: linear-gradient($color-button-gradient);
}

footer ul {
  position: absolute;
  height: 10vh;
  width: 100vw;
  list-style-type: none;
  margin: 0 0 0 37vw;
  padding: 4vh 3vw 0 3vw;
  background-color: $med-red;
  background: -webkit-linear-gradient($color-button-gradient);
  background: -moz-linear-gradient($color-button-gradient);
  background: -o-linear-gradient($color-button-gradient);
  background: -ms-linear-gradient($color-button-gradient);
  background: linear-gradient($color-button-gradient);
   li {
     display: inline;
     padding: 0 2vw;
     font-family: $primary-font;
     font-size: 1em;
     color: $dark-grey;
     background-color: $med-red;
}
}


a:link {
  color: $dark-grey;
  text-decoration: none;
}

a:hover {
  color: $light-grey;
  text-decoration: none;
}
