/// Descriptive color variables

$white      : #fff;
$black      : #000;
$grey       : #8D8E8E;
$dark-grey     :#515151;
$teal :     #05CFBE;
$dark-teal:     #0BA99D;
$green-lightening  : #8FEF30;
$light-orange      : #FF9D26;
$dark-orange  : #FF7D15;
$bright-orange  : #FF5500;
$dark-red  : #8B1722;
$med-red  : #C21A23;
$light-grey    : lighten($dark-grey, 35%);

// Functional color variables

$color-prim     : $dark-orange;
$color-sec       : $green-lightening;
$color-tert     : $teal;
$color-quart     : $light-orange;
$color-quin     : $grey;

$color-border-light : $bright-orange;
$color-border-dark  :  $dark-red;
$color-link-default : $grey;
$color-link-visited : #FF7D15;

$color-shadow       : rgba($black,.8);
// $color-text-body     :
// $color-img-body         :
// $color-button-gradient    :

 // Font stacks

  $primary-font    : Arial, sans-serif;

// Border radius

// $br: 10px;

// Asset paths

$path-img     : '../img';
$path-font     : '../fonts';

// Media query breakpoints

$brk-narrow  : '(max-width: 768px)';
$brk-wide    : '(max-width: 1024px)';
